name: Tests

permissions:
  contents: read

on: [push, pull_request]

jobs:
  tests:
    name: Tests PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        php: [8.0, 8.1, 8.2, 8.3, 8.4, 8.5]
        experimental: [false]
        composer-options: ['']
        include:
          - php: 8.4
            analysis: true
          - php: nightly
            experimental: true
            composer-options: '--ignore-platform-req=php+'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug

      - name: Install dependencies with Composer
        uses: ramsey/composer-install@v3
        with:
          composer-options: ${{ matrix.composer-options }}

      - name: Coding standards
        if: matrix.analysis
        run: vendor/bin/phpcs

      - name: Static analysis
        if: matrix.analysis
        run: vendor/bin/phpstan

      - name: Tests
        run: vendor/bin/phpunit --coverage-clover clover.xml

      - name: Upload coverage results to Coveralls
        if: matrix.analysis
        uses: coverallsapp/github-action@v2
        with:
          file: clover.xml
          flag-name: php-${{ matrix.php }}
          # See: https://github.com/coverallsapp/github-action?tab=readme-ov-file#complete-parallel-job-example
          parallel: false # Until now only one job is set for analysis
          github-token: ${{ secrets.GITHUB_TOKEN }}
